<div>
  <input type="text" [(ngModel)]="id" placeholder="Id" />  
  <input type="text" [(ngModel)]="firstName" placeholder="First Name" />
  <input type="text" [(ngModel)]="lastName" placeholder="Last Name" />
  <input type="text" [(ngModel)]="age" placeholder="age" />
  <input type="text" [(ngModel)]="city" placeholder="City" />
  <input type="text" [(ngModel)]="country" placeholder="Country" />
  <button (click)="updateTraveller()">Update Traveller</button>
  <button (click)="createTraveller()">Create New Traveller</button>
</div>